language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'

install:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction

script:
  - vendor/bin/phpunit

cache:
  directories:
    - vendor

notifications:
  email:
    recipients:
      - travis@nztim.com
    on_success: always
    on_failure: always
